body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #768c92;
  margin-left: 7.4vw;
  margin-right: 7.4vw;
}

.title {
    width: 26rem;
    margin: 9rem;
}

.title p {
    font-size: 2rem;
    margin: 0;
}

#hello {
    display: inline-block;
    font-size: 2.5rem;
}

#present {
    display: inline-block;
    font-size: 4.5rem;
    line-height: 6rem;
}

#name {
    font-weight: bold;
    font-size: 8.35rem;
    line-height: 9rem;
    letter-spacing: 0.7rem;
}